EXERCISE 4.6

In [2]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [4]:
#Create Path
path = r"C:\Users\beaac\OneDrive\Escritorio\carreer foundry influenza\Instacart Basket 25"

In [2]:
#importing orders_products_combined df
df_ords_combined = pd.read_pickle(os.path.join(path,'02 data' , 'prepared data' , 'orders_products_combined.pkl'))

NameError: name 'pd' is not defined

In [12]:
#check the shape of the imported dataframe
df_ords_combined.shape

(32434489, 11)

In [14]:
# check dataframe structure
df_ords_combined.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,0.0,196,1,0,both
1,0,2539329,1,1,2,8,0.0,14084,2,0,both
2,0,2539329,1,1,2,8,0.0,12427,3,0,both
3,0,2539329,1,1,2,8,0.0,26088,4,0,both
4,0,2539329,1,1,2,8,0.0,26405,5,0,both

In [16]:
#import products cleaned df
df_prods_clean = pd.read_csv(os.path.join(path, '02 data', 'prepared data', 'products_checked.csv'), index_col = 0)

In [20]:
# check products clean data frame
df_prods_clean.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

 # Merging dataframe

 We will use inner join to keep only information that is presents in both data sets using 'product_id' as the key column

In [15]:
# test merge without overwriting with merge flag mat
pd.merge(df_ords_combined , df_prods_clean , on = ['product_id'] , how = 'inner', indicator = 'match')

NameError: name 'pd' is not defined