Import Libraries

In [174]:
# Importin Libraries
import pandas as pd
import numpy as np
import os

In [176]:
#Creating path
path= r'C:\Users\beaac\Instacart Basket 25'

In [178]:
#Import new customers data set from the original data
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))

In [180]:
# check customers dataframe
df_customers.head(5)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [182]:
#check the dimensions of customers dataframe
df_customers.shape

(206209, 10)

In [184]:
#View descriptive statistics
df_customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [186]:
#Check data types
df_customers.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

Wragle the data

Rename the colummns

In [190]:
df_customers.rename(columns = {'First Name': 'first_name'},inplace =True)
df_customers.rename(columns = {'Surnam': 'surname'},inplace =True)
df_customers.rename(columns = {'Gender': 'gender'},inplace =True)
df_customers.rename(columns = {'Age': 'age'},inplace =True)
df_customers.rename(columns = {'STATE': 'state'},inplace =True)
df_customers.rename(columns = {'fam_status': 'marital_status'},inplace =True)

In [192]:
#check columns names
df_customers.columns

Index(['user_id', 'first_name', 'surname', 'gender', 'state', 'age',
       'date_joined', 'n_dependants', 'marital_status', 'income'],
      dtype='object')

For the analysis of the customer DataFrame, all columns hold significance. Therefore, none will be dropped

Complete data quality and consistency checks

In [196]:
#chck data types 
df_customers.dtypes

user_id            int64
first_name        object
surname           object
gender            object
state             object
age                int64
date_joined       object
n_dependants       int64
marital_status    object
income             int64
dtype: object

In [198]:
#check for mixed dtypes in each column
for col in df_customers.columns.tolist():
    weird = (df_customers [[col]].map (type)!= df_customers[[col]].iloc[0].apply(type)).any(axis=1)
    if len (df_customers [weird]) > 0:
        print (col)

first_name

In [200]:
#there is mixed data in the first_name column
df_customers['first_name'] = df_customers['first_name'].astype('str')

In [202]:
# Change user_id dtype to str
df_customers['user_id'] = df_customers['user_id'].astype('str')

In [204]:
#recheck the datatypes
df_customers.dtypes

user_id           object
first_name        object
surname           object
gender            object
state             object
age                int64
date_joined       object
n_dependants       int64
marital_status    object
income             int64
dtype: object

In [206]:
#Change types from int 64 to int 8
df_customers['age'] = df_customers['age'].astype('int8')
df_customers['n_dependants'] = df_customers['n_dependants'].astype('int8')

In [208]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         206209 non-null  object
 1   first_name      206209 non-null  object
 2   surname         206209 non-null  object
 3   gender          206209 non-null  object
 4   state           206209 non-null  object
 5   age             206209 non-null  int8
 6   date_joined     206209 non-null  object
 7   n_dependants    206209 non-null  int8
 8   marital_status  206209 non-null  object
 9   income          206209 non-null  int64
dtypes: int64(1), int8(2), object(7)
memory usage: 13.0+ MB

All columns have the correct data types, ensuring consistency with no mixed types

In [211]:
#check for missing data 
df_customers.isnull().sum()

user_id           0
first_name        0
surname           0
gender            0
state             0
age               0
date_joined       0
n_dependants      0
marital_status    0
income            0
dtype: int64

There is no any missing values

In [214]:
#check for duplicates
df_dups= df_customers[df_customers.duplicated()]

In [216]:
df_dups

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, n_dependants, marital_status, income]
Index: []

There is no any duplicates values

Combine customer data with the rest of instacart data

In [220]:
#import 'Order products grouped' from last exercise
order_products= pd.read_pickle(os.path.join(path,'02 Data','Prepared Data', 'orders_products_merged_grouped.pkl'))

In [221]:
#check shape of order products
order_products.shape

(32404859, 27)

In [222]:
#check shape of customers 
df_customers.shape

(206209, 10)

In [223]:
order_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 27 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Unnamed: 0                  int64
 1   order_id                    int64
 2   user_id                     int64
 3   order_number                int64
 4   orders_day_of_week          int64
 5   order_hour_of_day           int64
 6   days_since_prior_order      float64
 7   product_id                  int64
 8   add_to_cart_order           int64
 9   reordered                   int64
 10  _merge                      category
 11  product_name                object
 12  aisle_id                    int64
 13  department_id               int64
 14  prices                      float64
 15  match                       category
 16  prices_range_loc            object
 17  price_range_loc             object
 18  busiest_day                 object
 19  busiest_days                object
 20  busiest_period_of_day       object
 21  max_order                   int64
 22  loyalty_flag                object
 23  avg_product_price           float64
 24  spending_flag               object
 25  median_days_between_orders  float64
 26  order_frequency_flag        object
dtypes: category(2), float64(4), int64(12), object(9)
memory usage: 6.1+ GB

In [228]:
#identify shared column
order_products.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_product_price,spending_flag,median_days_between_orders,order_frequency_flag
0,0,2539329,1,1,2,8,0.0,196,1,0,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,0,2539329,1,1,2,8,0.0,14084,2,0,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,0,2539329,1,1,2,8,0.0,12427,3,0,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
3,0,2539329,1,1,2,8,0.0,26088,4,0,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
4,0,2539329,1,1,2,8,0.0,26405,5,0,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer

Both dataframes share 'user_id'column

In [231]:
#checking data type for each data fra9me
order_products.dtypes['user_id']

dtype('int64')

In [233]:
df_customers.dtypes['user_id']

dtype('O')

In [235]:
# Convert int64 columns to int32 in order_products
order_products = order_products.astype({col: 'int32' for col in order_products.select_dtypes(include='int64').columns})

In [237]:
order_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 27 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Unnamed: 0                  int32
 1   order_id                    int32
 2   user_id                     int32
 3   order_number                int32
 4   orders_day_of_week          int32
 5   order_hour_of_day           int32
 6   days_since_prior_order      float64
 7   product_id                  int32
 8   add_to_cart_order           int32
 9   reordered                   int32
 10  _merge                      category
 11  product_name                object
 12  aisle_id                    int32
 13  department_id               int32
 14  prices                      float64
 15  match                       category
 16  prices_range_loc            object
 17  price_range_loc             object
 18  busiest_day                 object
 19  busiest_days                object
 20  busiest_period_of_day       object
 21  max_order                   int32
 22  loyalty_flag                object
 23  avg_product_price           float64
 24  spending_flag               object
 25  median_days_between_orders  float64
 26  order_frequency_flag        object
dtypes: category(2), float64(4), int32(12), object(9)
memory usage: 4.6+ GB

In [239]:
df_customers['user_id'] = df_customers['user_id'].astype(int)
order_products['user_id'] = order_products['user_id'].astype(int)

In [246]:
# Drop the existing '_merge' column from previous exercises
order_products = order_products.drop(columns=['_merge'])

Both columns match data types

In [249]:
#Merge the two Dataframes using the column user_id
ord_prods_cust = order_products.merge(df_customers, on='user_id', indicator=True)

In [251]:
#check the shape 
ord_prods_cust.shape

(32404859, 36)

In [253]:
ord_prods_cust.head(5)

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,first_name,surname,gender,state,age,date_joined,n_dependants,marital_status,income,_merge
0,0,2539329,1,1,2,8,0.0,196,1,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,0,2539329,1,1,2,8,0.0,14084,2,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,0,2539329,1,1,2,8,0.0,12427,3,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,0,2539329,1,1,2,8,0.0,26088,4,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,0,2539329,1,1,2,8,0.0,26405,5,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

In [255]:
#check inner join value counts
ord_prods_cust['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [257]:
#check data types
ord_prods_cust.dtypes

Unnamed: 0                       int32
order_id                         int32
user_id                          int32
order_number                     int32
orders_day_of_week               int32
order_hour_of_day                int32
days_since_prior_order         float64
product_id                       int32
add_to_cart_order                int32
reordered                        int32
product_name                    object
aisle_id                         int32
department_id                    int32
prices                         float64
match                         category
prices_range_loc                object
price_range_loc                 object
busiest_day                     object
busiest_days                    object
busiest_period_of_day           object
max_order                        int32
loyalty_flag                    object
avg_product_price              float64
spending_flag                   object
median_days_between_orders     float64
order_frequency_flag            object
first_name                      object
surname                         object
gender                          object
state                           object
age                               int8
date_joined                     object
n_dependants                      int8
marital_status                  object
income                           int64
_merge                        category
dtype: object

In [259]:
#changing order_id data types
ord_prods_cust['order_id']= ord_prods_cust['order_id'].astype('str')

In [261]:
ord_prods_cust.dtypes

Unnamed: 0                       int32
order_id                        object
user_id                          int32
order_number                     int32
orders_day_of_week               int32
order_hour_of_day                int32
days_since_prior_order         float64
product_id                       int32
add_to_cart_order                int32
reordered                        int32
product_name                    object
aisle_id                         int32
department_id                    int32
prices                         float64
match                         category
prices_range_loc                object
price_range_loc                 object
busiest_day                     object
busiest_days                    object
busiest_period_of_day           object
max_order                        int32
loyalty_flag                    object
avg_product_price              float64
spending_flag                   object
median_days_between_orders     float64
order_frequency_flag            object
first_name                      object
surname                         object
gender                          object
state                           object
age                               int8
date_joined                     object
n_dependants                      int8
marital_status                  object
income                           int64
_merge                        category
dtype: object

Exporting new dataframe as pickle file.

In [264]:
ord_prods_cust.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customers_merged.pkl'))